body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

main {
    width: 90%;
    justify-content: center;
    padding-left: 4.5vw;

}

#container {
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

}

.half-width {
    width: 100%;
    background-color: black;
    display: flex;
    border-radius: 2rem;

}

.half-width>img {
    width: 70%;
    background-size: cover;
    margin-left: 10%;
    padding-top: 4rem;

}

.text1 {
    padding-left: 3.5rem;
    padding-top: 2rem;
}

.text1 h1 {
    color: white;
    align: center;
    font-size: 4vw;

}

.text1 p {
    color: white;
    font-size: 1.5vw;
}

.button {
    padding-bottom: 1rem;
    position: relative;
}

.link-button {
    width: 10vw;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 1vw 1.5vw;
    border-radius: 0.5rem;

    position: relative;
    animation: sliding 2s ease-in-out 0.5s infinite alternate;
}

@keyframes sliding {
    0% {
        width: 15vw;
        padding: 1.5vw 2vw;
    }
}


.top {
    padding-top: 8vw;

}

/* for desktop: */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}




[class*="col-"] {
    float: left;
    margin: 1vw;
}

.row::after {
    content: '';
    clear: both;
    display: table;
}

.nav-menu {
    background-color: black;
    padding: 1%;
    border-radius: 0.5rem;

}

.dsn {
    background-color: red;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 1.60vw;
    padding: 0.80vw;
    border-radius: 5px;
    margin: 1.5vw;
    display: block;

}

#style {
    text-decoration: none;
    color: black;
    background-color: red;
    font-size: 1.60vw;
    padding: 0.80vw;
    border-radius: 5px;
    margin: 1.5vw;
    display: block;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 35%);
    gap: 15px;
}

.item {
    border: 1px solid rgb(217, 211, 211);
    border-radius: 0.75vw;

}

.item>.text {
    padding: 0.90vw;
}

.item img {
    width: 100%;
}

.item>.icon {
    color: gray;

    padding-bottom: 1vw;

}

.icon i {
    padding: 1vw;
}

footer {
    background-color: black;
    padding: 8vw;
    text-align: center;

}

footer h1 {
    color: white;
}

footer hr {
    width: 70%;

}

.style i {
    padding: 1vw;
}

.last {
    float: left;
    color: white;
    margin: 2vw;
    padding-left: 3%;
    padding-top: 1vw;
}

.fa-facebook {
    color: white;
    font-size: 2.5vw;
}

.fa-instagram {
    color: purple;
    font-size: 2.5vw;
}

.fa-twitter-square {
    color: white;
    font-size: 2.5vw;
}

/*mobile*/
@media screen and(max-width:600px) {
    [class*="col-"] {
        width: 100%;
    }
}

/*laptop*/
@media screen and(min-width:700px) {
    grid-template-columns: repeat(3, 1);
}